<template>
  <div class="text-sm-left">
    <h3>Kami butuh feedback anda</h3>
    <v-text-field
      label="Judul"
      v-model="form.title"
      required
    ></v-text-field>
    <v-text-field
      label="Isi"
      v-model="form.content"
      required
    ></v-text-field>
    <v-btn @click="submit" color="info">Submit</v-btn>
  </div>
</template>

<script>
import axios from 'axios'
import endpoint from '@/endpoint.js'
import auth from '@/middleware/auth.js'

export default {
  name: 'Feedback',
  mounted () {
    this.changePageTitle()
  },
  data () {
    return {
      form: {
        title: '',
        content: ''
      },
      username: auth.getUser().sub.username
    }
  },
  methods: {
    changePageTitle () {
      this.$store.commit('changePageTitle', 'Feedback')
    },
    submit () {
      this.addFeedback(this.form)
      this.form.title = ''
      this.form.content = ''
    },
    addFeedback (form) {
      axios.post(endpoint.baseUrl + '/feedbacks', {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        token: localStorage.getItem('jwt'),
        title: form.title,
        content: form.content
      }).then((response) => {
        if (response.status === 200) {
          alert('Terima kasih telah mengisi feedback')
        } else {
          alert('Error menambahkan feedback')
          console.log('error')
        }
      }).catch(e => {
        alert('Error menambahkan feedback')
        console.log('error')
      })
    }
  }
}
</script>
