<template>
  <div class="text-sm-left">
    <h3>Selamat datang :)</h3>
    <v-text-field
      label="Apa yang anda pikirkan"
      v-model="form.feed"
      required
    ></v-text-field>
    <v-btn @click="submit" color="info">Post</v-btn>
    <br><br>
    <h3>Kabar Berita</h3>
    <v-card v-for="feed in feeds" :key="feed.id">
        <v-card-title primary-title>
          <div>
            <h3 class="mb-0">{{feed.username}}</h3>
            <div> {{feed.content}} </div>
          </div>
        </v-card-title>
    </v-card>
  </div>
</template>

<script>
import axios from 'axios'
import endpoint from '@/endpoint.js'
import auth from '@/middleware/auth.js'

export default {
  name: 'Home',
  mounted () {
    this.changePageTitle()
    this.loadFeeds()
  },
  data () {
    return {
      form: {
        feed: ''
      },
      feeds: [],
      username: auth.getUser().sub.username
    }
  },
  methods: {
    changePageTitle () {
      this.$store.commit('changePageTitle', 'Curhatan Online')
    },
    submit () {
      this.addFeed(this.username, this.form.feed)
      this.form.feed = ''
    },
    addFeed (username, content) {
      axios.post(endpoint.baseUrl + '/feeds', {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        token: localStorage.getItem('jwt'),
        content: content
      }).then((response) => {
        if (response.status === 200) {
          let r = Math.random().toString(36).substring(7)
          this.feeds.push({
            id: r,
            username: username,
            content: content
          })
        } else {
          console.log('error')
        }
      }).catch(e => {
        console.log('error')
      })
    },
    loadFeeds () {
      axios.get(endpoint.baseUrl + '/feeds?token=' + localStorage.getItem('jwt')).then((response) => {
        if (response.status === 200) {
          const data = response.data.data
          this.feeds = data
        } else {
          console.log('error')
        }
      }).catch(e => {
        console.log('error')
      })
    }
  }
}
</script>
