<template>
  <div>
    <v-form>
      <v-text-field
        label="Username"
        v-model="form.username"
        required
      ></v-text-field>
      <v-text-field
        label="Password"
        v-model="form.password"
        :type="'password'"
        required
      ></v-text-field>
      <v-btn @click="login" color="info">Login</v-btn>
      <p>{{ errorMsg }}</p>
    </v-form>
  </div>
</template>

<script>
import axios from 'axios'
import endpoint from '@/endpoint.js'

export default {
  name: 'Login',
  mounted () {
    this.changePageTitle()
  },
  data () {
    return {
      form: {
        username: '',
        password: ''
      },
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      errorMsg: ''
    }
  },
  methods: {
    changePageTitle () {
      this.$store.commit('changePageTitle', 'Halaman Login')
    },
    login () {
      axios.post(endpoint.baseUrl + '/auth', {
        headers: this.headers,
        username: this.form.username,
        password: this.form.password
      }).then((response) => {
        if (response.status === 200) {
          localStorage.setItem('jwt', response.data.token)
          this.$router.push({name: 'Home'})
        } else {
          this.errorMsg = 'Username/Password Salah'
        }
      }).catch(e => {
        this.errorMsg = 'Username/Password Salah'
      })
    }
  }
}
</script>
