<template>
  <div>
    <v-form>
      <v-text-field
        label="Username"
        v-model="form.username"
        required
      ></v-text-field>
      <v-text-field
        label="Password"
        v-model="form.password"
        :type="'password'"
        required
      ></v-text-field>
      <v-btn @click="register" color="info">Register</v-btn>
      <p>{{errorMsg}}</p>
    </v-form>
  </div>
</template>

<script>
import endpoint from '@/endpoint.js'
import axios from 'axios'

export default {
  name: 'Register',
  mounted () {
    this.changePageTitle()
  },
  data () {
    return {
      form: {
        username: '',
        password: ''
      },
      errorMsg: ''
    }
  },
  methods: {
    changePageTitle () {
      this.$store.commit('changePageTitle', 'Halaman Registrasi')
    },
    register () {
      axios.post(endpoint.baseUrl + '/register', {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        username: this.form.username,
        password: this.form.password
      }).then((response) => {
        if (response.status === 200) {
          this.errorMsg = 'Registrasi Sukses'
        } else {
          this.errorMsg = 'Registrasi Gagal'
        }
      }).catch(e => {
        this.errorMsg = 'Registrasi Gagal'
      })
    }
  }
}
</script>
