<template>
  <div id="app">
    <v-app>
      <v-card flat>
        <v-toolbar
          color="primary"
          dark
          extended
          flat
        >
          <v-toolbar-side-icon
            @click.stop="drawer = !drawer">
          </v-toolbar-side-icon>
        </v-toolbar>

        <v-layout row pb-2>
          <v-flex xs8 offset-xs2>
            <v-card class="card--flex-toolbar">
              <v-toolbar card prominent>
                <v-toolbar-title class="headline grey--text">{{ getPageTitle() }}</v-toolbar-title>
              </v-toolbar>

              <v-divider></v-divider>

              <v-card-text>
                <router-view></router-view>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-card>

      <!-- Nav Drawer -->
      <v-navigation-drawer
        v-model="drawer"
        absolute
        temporary
      >
        <v-list class="pa-1">
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-list-tile-title>Menu</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

        <v-list class="pt-0" dense>
          <v-divider></v-divider>
          <v-list-tile
            v-for="item in getMenuItems()"
            :key="item.title"
            @click="pushPage(item.page)"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    </v-app>
  </div>
</template>

<script>
import store from './store.js'
import auth from '@/middleware/auth.js'

export default {
  name: 'App',
  store,
  data () {
    return {
      drawer: null,
      items: [
        { title: 'Home', icon: 'home', page: 'Home', requireAuth: true },
        { title: 'Feedback', icon: 'comment', page: 'Feedback', requireAuth: true },
        { title: 'Login', icon: 'forward', page: 'Login', requireAuth: false },
        { title: 'Register', icon: 'how_to_reg', page: 'Register', requireAuth: false },
        { title: 'Logout', icon: 'delete_sweep', page: 'Logout', requireAuth: true }
      ]
    }
  },
  methods: {
    getPageTitle () {
      return this.$store.getters.getPageTitle
    },
    pushPage (page) {
      this.$router.push({name: page})
    },
    getMenuItems () {
      return this.items.filter(function (i) {
        return i.requireAuth === auth.isAuthenticated()
      })
    }
  }
}

</script>

<style scoped>
  .card--flex-toolbar {
    margin-top: -64px;
  }
</style>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif; /* this was it */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
